<div class="row justify-content-center">
  <ngb-toast class="position-absolute m-auto" header="I can be closed!" *ngIf="err" [autohide]="false" (hide)="err = false" >
  {{msg}}
  </ngb-toast>
</div>
<main class="py-5 backgroundimg">
  <!-- <div class="section10cardoverlay"></div> -->
  <section class="container" style="padding-bottom: 1.6rem;">
      <div class="row pb-5" style="padding-top:3rem">
          <div class="col-md-6 col-12 m-auto py-4 registerbox">
              <div class="row">
                  <div class="col-12 px-3">
                      <form method="post" class="col-8 m-auto py-3" #form="ngForm" (ngSubmit)="login()">
                          <h2 class="pb-4">Login</h2>
                          <div class="row py-3 mb-4 ">
                              <button class="btn btn-danger btn-lg px-3 py-1 mx-3 col-11 rounded" href="#"
                                  role="button" (click)="authservice.GoogleAuth()"><i class="fab fa-google px-2" ></i> Google</button>
                          </div>
                          <div class=" mb-4">
                            <div class="form-group position-relative py-2">
                                <label for="email" class="registerformlabel"><i class="fas fa-envelope"></i></label>
                                <input type="email" class="registerforminput" name="email" id="email"
                                    placeholder="Your Email" #useremail="ngModel" (input)="checkval()" [(ngModel)]="email">
                            </div>
                            <span *ngIf="!checkemail && useremail.touched" style="color:red ; font-size: small;" >email is require and enter your valid email </span>
                          </div>
                          <div class="form-group position-relative py-2 mb-4">
                              <label for="password" class="registerformlabel"><i
                                      class="fas fa-unlock-alt"></i></label>
                              <input type="password" class="registerforminput" name="password" id="password"
                                  placeholder="Password" #userpass="ngModel" [(ngModel)]="password">
                          </div>
                          <div class="py-3">
                              <span>If Forgot Your Password , click  <a href="" [routerLink]="'/forgot-password'"> Here</a></span>
                          </div>
                          <div class="py-2">
                              <button class="btn btn-dark btn-lg px-3 py-1 w-100 my-1 rounded-3" role="button"
                               type="submit"> Submit</button>
                          </div>
                          <div class="text-md-center pt-3">
                              <span>Not a member ? <a href="" [routerLink]="'/register'">Register now</a></span>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
