
<owl-carousel-o *ngIf=" carousel === 'nav' " [options]="customOptionscarouselnav" class="carousel-one carousel-nav1s">
  <ng-container *ngFor="let slide of arrnav" >
    <ng-template carouselSlide class="mx-1 px-2 col-3">
      <app-navitem [item]="slide" ></app-navitem>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<owl-carousel-o *ngIf=" carousel === 'search' " [options]="customOptionscarouselnav" class="">
  <ng-container *ngFor="let slide of arr"  style="width:auto !important;">
    <ng-template carouselSlide class="mx-1 px-2" >
        <app-searchrecentitem [item]="slide" [type]="type" ></app-searchrecentitem>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<owl-carousel-o *ngIf=" carousel === 'one' " [options]="customOptionscarousel1" class="carousel-one carousel-nav1s">
  <ng-container *ngFor="let slide of arr" >
    <ng-template carouselSlide class="mx-1 px-2 col-3">
        <app-cardstyle1 [card]="slide" [type]="type" ></app-cardstyle1>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<owl-carousel-o *ngIf=" carousel === 'two' " [options]="customOptionscarousel2" class="carousel-one carousel-nav1s">
  <ng-container *ngFor="let slide of arr" >
    <ng-template carouselSlide class="mx-1 px-2">
        <app-cardstyle2></app-cardstyle2>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<owl-carousel-o *ngIf=" carousel === 'three' " [options]="customOptionscarousel2" class="carousel-one carousel-nav1s">
  <ng-container *ngFor="let slide of arr" >
    <ng-template carouselSlide class="mx-1 px-2">
        <app-cardstyle3 [card]="slide"></app-cardstyle3>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<owl-carousel-o *ngIf=" carousel === 'four' " [options]="customOptionscarousel1" class="carousel-one carousel-nav1s">
  <ng-container *ngFor="let slide of arr" >
    <ng-template carouselSlide class="mx-1 px-2">
        <app-cardstyle4 [card]="slide"></app-cardstyle4>
    </ng-template>
  </ng-container>
</owl-carousel-o>
