<footer>
  <div class="container py-3 pt-5">
    <div class="row ">
      <div class="col-md-2 col-12">
        <p class="py-0 m-0 d-md-block d-none ele">{{'footer.About Tripadvisor'|translate}}</p>
        <a class=" d-md-none btcol" onclick="collapseplus(this)" type="button" data-bs-toggle="collapse"
          data-bs-target="#onecollapse" aria-expanded="false" aria-controls="collapseExample">
          <svg viewBox="0 0 24 24" width="1em" height="1em" class="svgplus">
            <path d="M13.111 22h-2.222v-8.889H2v-2.222h8.889V2h2.222v8.889H22v2.222h-8.889z"></path>
          </svg>
          {{'footer.About Tripadvisor'|translate}}
        </a>
        <div class="collapse.show coll" id="onecollapse">
          <ul>
            <li>
              <a href="#">{{'footer.About Us'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Press'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Resources and Policies'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Careers'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Investor Relations'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Trust & Safety'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Download App'|translate}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-12">
        <p class="py-0 m-0 d-md-block d-none ele">{{'footer.Explore'|translate}}</p>
        <a class=" d-md-none btcol" onclick="collapseplus(this)" type="button" data-bs-toggle="collapse"
          data-bs-target="#twocollapse" aria-expanded="false" aria-controls="collapseExample">
          <svg viewBox="0 0 24 24" width="1em" height="1em" class="svgplus">
            <path d="M13.111 22h-2.222v-8.889H2v-2.222h8.889V2h2.222v8.889H22v2.222h-8.889z"></path>
          </svg>
          {{'footer.Explore'|translate}}
        </a>
        <div class="collapse.show coll" id="twocollapse">
          <ul>
            <li>
              <a href="#">{{'footer.Write a review'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Add a Place<'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Join'|translate}} </a>
            </li>
            <li>
              <a href="#">{{"footer.Travelers' Choice"|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Insurance'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.GreenLeaders'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Blog'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Help Center'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Tripadvisor Plus'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Travel Articles'|translate}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-12">
        <p class="py-0 m-0 d-md-block d-none ele">{{'footer.Do Business With Us'|translate}}</p>
        <a class=" d-md-none btcol" onclick="collapseplus(this)" type="button" data-bs-toggle="collapse"
          data-bs-target="#threecollapse" aria-expanded="false" aria-controls="collapseExample">
          <svg viewBox="0 0 24 24" width="1em" height="1em" class="svgplus">
            <path d="M13.111 22h-2.222v-8.889H2v-2.222h8.889V2h2.222v8.889H22v2.222h-8.889z"></path>
          </svg>
          {{'footer.Do Business With Us'|translate}}
        </a>
        <div class="collapse.show coll" id="threecollapse">
          <ul>
            <li>
              <a href="#">{{'footer.Owners'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Business Advantage'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Sponsored Placements'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Advertise with Us'|translate}}</a>
            </li>
            <li>
              <a href="#">{{'footer.Become an Affiliate'|translate}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-12 ">
        <div class="col-md-8 col-12 m-auto">
          <p class="py-0 m-0 d-md-block d-none ele">{{'footer.Tripadvisor Sites'|translate}}</p>
          <a class=" d-md-none btcol" onclick="collapseplus(this)" type="button" data-bs-toggle="collapse"
            data-bs-target="#fourcollapse" aria-expanded="false" aria-controls="collapseExample">
            <svg viewBox="0 0 24 24" width="1em" height="1em" class="svgplus">
              <path d="M13.111 22h-2.222v-8.889H2v-2.222h8.889V2h2.222v8.889H22v2.222h-8.889z"></path>
            </svg>
            {{'footer.Tripadvisor Sites'|translate}}
          </a>
          <div class="collapse.show coll" id="fourcollapse">
            <ul class="pl-0">
              <li>
                <span>{{'footer.Discover your dream destination with'|translate}}</span> <a href="#">{{'footer.Jetsetter'|translate}}</a>
              </li>
              <li>
                <span>{{'footer.Book the best restaurants with'|translate}}</span> <a href="#">{{'footer.TheFork'|translate}}</a>
              </li>
              <li>
                <span>{{'footer.Book tours and attraction tickets on'|translate}}</span> <a href="#">{{'footer.Viator'|translate}}</a>
              </li>
              <li>
                <span>{{'footer.Read cruise reviews on'|translate}}</span> <a href="#">{{'footer.Cruise Critic'|translate}}</a>
              </li>
              <li>
                <span>{{'footer.Get airline seating charts on'|translate}}</span> <a href="#">{{'footer.Seat Guru'|translate}}</a>
              </li>

              <li>
                <span>{{'footer.Find vacation rentals on '|translate}}</span> <a href="#">{{'FlipKey'|translate}}</a>
              </li>
              <li>
                <span>{{'footer.Search for holiday rentals on'|translate}}</span> <a href="#">{{'Holiday Lettings'|translate}}</a>
              </li>
              <li>
                <span>{{'footer.Find a vacation home on' |translate}}</span> <a href="#">{{'footer.Vacation Home Rentals'|translate}}</a>
              </li>
              <li>
                <span>{{'footer.Plan and book your next trip with'|translate}}</span> <a href="#">{{'footer.Reco Trip Designers'|translate}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="row">
          <div class="col-1">
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72 72"
              style=" min-width: 1.6rem;" xml:space="preserve">
              <style type="text/css">
                .st0 {
                  fill: #34E0A1;
                }
              </style>
              <path class="st0" d="M72,36c0,19.9-16.1,36-36,36S0,55.9,0,36C0,16.1,16.1,0,36,0S72,16.1,72,36" />
              <path d="M58.2,28.9l4.3-4.7h-9.6C48.1,20.9,42.3,19,36,19c-6.3,0-12.1,1.9-16.9,5.2H9.5l4.3,4.7c-2.7,2.4-4.3,5.9-4.3,9.8
              c0,7.3,5.9,13.2,13.2,13.2c3.5,0,6.6-1.3,9-3.5L36,53l4.2-4.6c2.4,2.2,5.5,3.5,9,3.5c7.3,0,13.2-5.9,13.2-13.2
              C62.5,34.8,60.8,31.3,58.2,28.9 M22.8,47.6c-5,0-9-4-9-9c0-5,4-9,9-9s9,4,9,9C31.7,43.6,27.7,47.6,22.8,47.6 M36,38.4
              c0-5.9-4.3-11-9.9-13.1c3.1-1.3,6.4-2,9.9-2c3.5,0,6.9,0.7,9.9,2C40.3,27.5,36,32.5,36,38.4 M49.2,47.6c-5,0-9-4-9-9c0-5,4-9,9-9
              s9,4,9,9C58.2,43.6,54.2,47.6,49.2,47.6 M49.2,34c-2.6,0-4.7,2.1-4.7,4.7c0,2.6,2.1,4.7,4.7,4.7s4.7-2.1,4.7-4.7
              C53.9,36.1,51.8,34,49.2,34 M27.5,38.7c0,2.6-2.1,4.7-4.7,4.7c-2.6,0-4.7-2.1-4.7-4.7c0-2.6,2.1-4.7,4.7-4.7
              C25.4,34,27.5,36.1,27.5,38.7" />
            </svg>
          </div>
          <div class="col-11">
            <div class="col-12">
              <p class="fs-6 mb-0">© 2021 TripAdvisor LLC All rights reserved.</p>
            </div>
            <div class="col-12 d-lg-flex justify-content-between">
              <a href="#" class="mx-1">{{'footer.Terms of Use'|translate}}</a>
              <a href="#" class="mx-1">{{'footer.Privacy and Cookies Statement'|translate}}</a>
              <a href="#" class="mx-1">{{'footer.Cookie consent'|translate}}</a>
              <a href="#" class="mx-1">{{'footer.Site Map'|translate}}</a>
              <a href="#" class="mx-1">{{'footer.How the site works'|translate}}</a>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="fs-6">
            {{'footer.This is the version of our website addressed to speakers of English in the United States. If you are a resident of another country or region, please select the appropriate version of Tripadvisor for your country or region in the drop-down'|translate}}
            <a onclick="displaynone(this)" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              {{'footer.Read More'|translate}}
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <p class="fs-6">
              {{'footer.TripAdvisor LLC makes no guarantees for availability of prices advertised on our sites and applications. Listed prices may require a stay of a particular length or have blackout dates, qualifications or other applicable restrictions. TripAdvisor LLC is not responsible for any content on external web sites that are not owned or operated by Tripadvisor. Indicative hotel prices displayed on our “Explore” pages are estimates extrapolated from historic pricing data.'|translate}}
            </p>
            <p class="fs-6">
              {{'footer.TripAdvisor LLC is not a booking agent or tour operator. When you book with one of our partners, please be sure to check their site for a full disclosure of all applicable fees'|translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="row">
          <div ngbDropdown class="btn-group dropup col-sm-5 col-12 border border-2 rounded-pill my-2 mx-2 p-0">
            <button type="button" class=" btn btn-light dropdown-toggle rounded-pill" id="dropdownMenuButton2"
               ngbDropdownToggle>
               {{'footer.language'|translate}}
            </button>
            <ul class="dropdown-menu dropdown-menu-light" ngbDropdownMenu  aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active"gbDropdownItem name="en" (click)="changeLang($event)" >English</a></li>
              <li><a class="dropdown-item "gbDropdownItem name="ar" (click)="changeLang($event )">العربية</a></li>
            </ul>
          </div>
          <div class="btn-group dropup col-sm-5 col-12  border border-2 rounded-pill p-0 my-2 mx-2">
            <button type="button" class=" btn btn-light dropdown-toggle rounded-pill" data-bs-toggle="dropdown"
              aria-expanded="false">
              Egypt
            </button>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active" href="#">Egypt</a></li>
              <li><a class="dropdown-item " href="#">Egypt</a></li>
              <li><a class="dropdown-item " href="#">Egypt</a></li>
              <li><a class="dropdown-item " href="#">Egypt</a></li>
            </ul>
          </div>
        </div>
        <div class="row d-flex justify-content-sm-end pe-5">
          <a href="#" class="col-1 mx-2">
            <svg viewBox="0 0 24 24" width="35px" height="35px" class="fecdL d Vb wQMPa">
              <path
                d="M12.001 2.061C6.478 2.061 2 6.537 2 12.061c0 4.993 3.661 9.132 8.445 9.879v-6.99H7.89v-2.889h2.556l.001-2.203c0-2.506 1.484-3.896 3.769-3.896 1.095 0 2.23.21 2.23.21v2.445h-1.253c-1.242 0-1.639.777-1.639 1.568l.003 1.876h2.777l-.444 2.889h-2.333v6.99C18.34 21.192 22 17.054 22 12.061c0-5.524-4.477-10-9.999-10z">
              </path>
            </svg>
          </a>
          <a href="#" class="col-1 mx-2">
            <svg viewBox="0 0 24 24" width="35px" height="35px" class="fecdL d Vb wQMPa">
              <path
                d="M2 18.1c2.2.2 4.3-.5 5.9-1.899-1.2-.101-3.6-2.4-4-2.9h1.6c-1.9-.5-3.2-2.2-3.2-4.1.6.099 1.2.299 1.7.499h.2C2.7 8.3 2.2 6 3.1 4.1c2.1 2.6 5.3 4.2 8.6 4.4V7.4c.1-2.2 2-4 4.2-4 .9 0 1.7.3 2.4.8.4.3.8.3 1.2.2l1.9-.7c-.4.9-.9 1.6-1.6 2.3.601-.1 1.3-.4 1.9-.5l.3.2c-.6.5-1.2 1.1-1.7 1.5-.1.3-.2.7-.2 1.1 0 1.9-.5 3.8-1.3 5.601A11.982 11.982 0 019.5 20.1c-2.4.2-4.9-.199-7-1.3l-.5-.7">
              </path>
            </svg>
          </a>
          <a href="#" class="col-1 mx-2">
            <svg viewBox="0 0 24 24" width="35px" height="35px" class="fecdL d Vb wQMPa">
              <path
                d="M14.94 2.575c-.804-.458-1.839-.573-2.873-.573C6.547 2.001 2.06 6.488 2.06 12.009c0 4.142 2.53 7.821 6.327 9.317a12.03 12.03 0 010-2.876c.229-.806 1.149-4.946 1.149-4.946a3.169 3.169 0 01-.346-1.495c0-1.381.805-2.416 1.841-2.416.689 0 1.266.575 1.266 1.266v.115c-.229 1.15-.459 2.185-.806 3.334-.229.805.229 1.61 1.035 1.727h.461c1.726 0 3.104-1.841 3.104-4.602.116-2.186-1.609-4.025-3.795-4.025h-.346c-2.3-.116-4.255 1.724-4.37 4.14v.229c0 .805.229 1.609.689 2.301.115.114.115.229.115.229a6.646 6.646 0 00-.229 1.147c0 .229-.116.229-.347.116-1.265-.807-2.069-2.3-2.069-3.913 0-3.105 2.3-5.98 6.556-5.98 3.221-.115 5.98 2.3 6.096 5.521v.229c0 3.454-2.186 6.211-5.174 6.211-.922 0-1.729-.346-2.304-1.148 0 0-.459 1.955-.575 2.415-.345.92-.689 1.842-1.266 2.646 5.292 1.609 10.812-1.267 12.421-6.558C23.104 9.707 20.23 4.186 14.94 2.575z">
              </path>
            </svg>
          </a>
          <a href="#" class="col-1 mx-2">
            <svg viewBox="0 0 24 24" width="35px" height="35px" class="fecdL d Vb wQMPa">
              <path
                d="M21.938 7.9c0-.8-.199-1.6-.5-2.4-.5-1.4-1.5-2.5-2.9-3-.799-.3-1.6-.4-2.4-.5h-4.099c-1.4 0-2.8 0-4.2.1-.8 0-1.6.2-2.3.5-1.3.5-2.4 1.5-2.9 2.8-.3.8-.5 1.6-.5 2.5 0 1.1-.1 1.4-.1 4.1-.1 1.4-.1 2.7 0 4.1 0 .801.2 1.601.5 2.4.5 1.3 1.6 2.4 2.9 2.9.8.3 1.6.399 2.4.5 1.4.1 2.8.1 4.2.1s2.8 0 4.099-.1c.801 0 1.602-.2 2.4-.5a5.17 5.17 0 002.9-2.9c.301-.8.398-1.6.5-2.4 0-1.1.1-1.399.1-4.1s-.1-3.1-.1-4.1zM20.137 16c0 .6-.1 1.3-.299 1.9-.301.898-1 1.6-1.9 1.898-.6.201-1.301.301-1.9.301-1.1 0-1.4.102-4 .102-1.3 0-2.7 0-4-.102-.6 0-1.2-.1-1.9-.3-.9-.3-1.6-1-1.9-1.899-.3-.601-.4-1.2-.4-1.9 0-1.1-.1-1.4-.1-4 0-1.3 0-2.7.1-4 .1-.6.2-1.3.3-1.9.3-.9 1-1.6 1.9-1.9.7-.2 1.3-.3 2-.3 1.1 0 1.4-.1 4-.1 1.3 0 2.701 0 4 .1.6 0 1.301.1 1.9.3.898.3 1.6 1 1.898 1.9.201.6.301 1.3.301 1.9 0 1.1.102 1.4.102 4-.001 2.6-.102 3-.102 4z">
              </path>
              <path
                d="M12.138 6.9c-2.9 0-5.1 2.3-5.1 5.1s2.3 5.1 5.1 5.1 5.101-2.3 5.101-5.1-2.301-5.1-5.101-5.1zm0 8.4c-1.8 0-3.3-1.5-3.3-3.3s1.5-3.3 3.3-3.3c1.8 0 3.2 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3zM17.438 5.5c-.699 0-1.199.5-1.199 1.2s.5 1.2 1.199 1.2 1.199-.5 1.199-1.2-.5-1.2-1.199-1.2z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

</footer>
