<div class="row justify-content-center">
  <ngb-toast class="position-absolute m-auto" header="I can be closed!" *ngIf="status" [autohide]="false" (hide)="status = false" >
  {{msg}}
  </ngb-toast>
</div>
<div class="container py-5 m-auto" style="height:70vh">
  <div class="row justify-content-center align-middle">
    <div class="col-sm-6 col-12 py-4 shadow">
      <div>
        <h3>Reset Password</h3>

        <p class="">Please enter your email address to request a password reset.</p>

        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
        <div class="col-12 d-flex justify-content-between py-3">
          <div class="form-group ">
            <input type="submit" class="btn btn-dark " value="Reset Password" (click)="resendemail(passwordResetEmail.value)">
          </div>
          <div class="py-2">
            <span >Go back to ? <a class="redirect" routerLink="/login">Log In</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
