<h5 class="">{{filterItem}}</h5>
<!-- Default checkbox -->
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
  <label class="form-check-label" for="flexCheckDefault">
    Restaurants
  </label>
</div>

<!-- Checked checkbox -->
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
  <label class="form-check-label" for="flexCheckChecked">
    Quick Bites
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
  <label class="form-check-label" for="flexCheckChecked">
    Dessert
  </label>
</div>
<!-- Checked checkbox -->


<div class="collapse" id="collapseShowMore">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">
      Coffee & Tea
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">
      Bakeries
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">
      Specialty Food Market
    </label>
  </div>
</div>

<a class="nav-link dropdown-toggle ps-0" data-bs-toggle="collapse" href="#collapseShowMore" role="button"
  aria-expanded="false" aria-controls="collapseExample">
  Show more
</a>