<h5 class="">{{filterItemName}}</h5>

<!-- Default checkbox -->
<div *ngFor="let item of filterItemList | slice:0:4 ; let l=count" class="form-check"  >
  <input class="form-check-input" type="checkbox" value="{{item}}" id="flexCheckDefault" (change)="onCheckBoxChange($event)" />
  <label class="form-check-label" for="flexCheckDefault">
    {{item}} 
    </label>
</div>


<div >
<div   class="collapse" id={{filterItemName}}>
  <div *ngFor="let item of filterItemList | slice:4:filterItemListLength" class="form-check">
    <input class="form-check-input" type="checkbox" value="{{item}}" id="flexCheckChecked" />
    <label class="form-check-label" for="flexCheckChecked">
     {{item}}
    </label>
  </div>
</div>


<a class="nav-link dropdown-toggle ps-0" data-bs-toggle="collapse" href="#{{filterItemName}}" role="button"
  aria-expanded="false" aria-controls="collapseExample">
  Show more
</a>
</div>