<h5 class="">{{filterItemName}}</h5>

<!-- Default checkbox -->
<div *ngFor="let item of filterItemList | slice:0:4 ; let indx=index" class="form-check"  >
  <input class="form-check-input" type="checkbox" value="{{item}}" name="{{filterItemListFullAddress[indx]}}" id="flexCheckBox{{item}}" (change)="onCheckBoxChange($event)" />
  <label class="form-check-label" for="flexCheckBox{{item}}">
    {{item}} 
    </label>
</div>


<div   class="collapse" id={{filterItemName}}>
  <div *ngFor="let item of filterItemList | slice:4:filterItemListLength ; let indx=index" class="form-check">
    <input class="form-check-input" type="checkbox" value="{{item}}" id="flexCheckChecked{{item}}" (change)="onCheckBoxChange($event)" name="{{filterItemListFullAddress[indx+4]}}"/>
    <label class="form-check-label" for="flexCheckChecked{{item}}">
     {{item}}
    </label>
  </div>
</div>


<a class="nav-link dropdown-toggle ps-0" data-bs-toggle="collapse" href="#{{filterItemName}}" role="button"
  aria-expanded="false" aria-controls="collapseExample">
  Show more
</a>
