<div class="px-1">
  <img class="img-fluid" style="height: 55%;" src="https://firebasestorage.googleapis.com/v0/b/iti-trip-advisor.appspot.com/o/home%2Fsection9.1.jpg?alt=media&token=768336aa-6c85-4f21-92e8-77eadeed1623">
  <div class="py-3" style="background-color: white;">
    <p class="py-2 px-2 m-0 text-center">From <a>Tripadvisor</a> </p>
    <p class="px-4 text-center" style="font-size:1rem; font-weight: bold;">A Guide to Last-Minute Road
      Trips You Can Do Right Now</p>
  </div>
  <app-cardbtn></app-cardbtn>
</div>
