h2 {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
}

p {
  font-size: 24px;
}

h3 {
  margin-top: 10px;
  font-size: 1.1em;
  color: chocolate;
}
p {
  color: chocolate;
}

.book {
  width: 15%;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(48, 197, 48);
  margin-left: 80%;
}
