<div class="container">
  <nav class="navbar  navbar-expand-lg navbar-light  bg-light p-2 mt-3s">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="/hotels">Hotel</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/visitsplaces">places to visit</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="flights.html">flights</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../restaurants/restaurants.html">Resturants</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="../vacation/vacation.html">vaccation
                          Rental</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="airplan.html" tabindex="-1" aria-disabled="true">AirlineS
                          planning</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</div>
