.row-height{
    width: 100%;
    max-height: 227.69px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 3.8rem;
    color: #d3d3d3;
    line-height: 30px;
  }
  .full {
    color: #00AA6C;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    line-height: 30px;
    color: #00AA6C;
  }
  .ngb-rating-height{
    align-items: center;
    justify-content: center;
    max-height: 20px;
    padding-top: 1px;
  }
  
  .btnOrderOnline {
    background-color: orange;
    color: black;
    border-radius: 15px;
    padding-inline: 10px;
    font-size: 13px;
    font-weight: 600;
  }