 <!-- section two -->
 <div class="container">
  <div class="row  mt-3 p-2">
      <div class="side col-4">
          <h4>popular</h4> <br>
          <input type="checkbox" id="3star" name="3star" value="3star">
          <label for="3star"> 3 star</label><br>
          <input type="checkbox" id="up" name="up" value="up">
          <label for="up"> up</label><br>
          <input type="checkbox" id="includebreakfast" name="includebreakfast" value="includebreakfast">
          <label for="include breakfast"> include breakfast</label> <br>
          <input type="checkbox" id="hotel" name="hotel" value="hotel">
          <label for="hotel"> hotel</label><br><br>
          <hr>
          <h4>Property types</h4>
          <input type="checkbox" id="b&bs &inns" name="b&bs &inns" value="b&bs &inns">
          <label for="b&bs &inns">b&bs &inns</label><br>
          <input type="checkbox" id="Hotel" name="Hotel" value="Hotel">
          <label for="Hotel"> Hotel</label><br>
          <input type="checkbox" id="Lodges" name="Lodges" value="Lodges">
          <label for="Lodges"> Lodges</label> <br>
          <input type="checkbox" id="motel" name="motel" value="motel">
          <label for="motel"> motel</label><br>
          <hr>
          <h4>Amenities</h4>
          <input type="checkbox" id="freewifi" name="freewifi" value="freewifi">
          <label for="freewifi">free wifi</label><br>
          <input type="checkbox" id="breakfastinclude" name="breakfastinclude" value="breakfastinclude">
          <label for="breakfast include">breakfast include </label><br>
          <input type="checkbox" id="pool" name="pool" value="pool">
          <label for="pool">pool</label> <br>
          <input type="checkbox" id="freeparking" name="freeparking" value="freeparking">
          <label for="freeparking"> freeparking</label><br>
          <hr>
          <h4> traveler rating </h4>
          <div class="progress fw-5">
              <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              <span style="color: brown;">fair</span>
          </div> <br>
          <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" style="width:50%" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100"></div>
              <span style="color: brown;">good</span>
          </div> <br>
          <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100"></div>
              <span style="color: brown;">very good</span>
          </div> <br>
          <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width:85%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
              <span style="color: brown;">confortable</span>
          </div>
      </div>

     <app-hotels-card  class="col-8 room ml-3"></app-hotels-card>
  </div>





