<!------section 5------->
<section class="container px-4 pt-2 pb-5">
  <h2 class="py-3">Recently viewed</h2>
  <!-- <app-carousel></app-carousel> -->
</section>
<!------section 6------->
<section class="container px-4 pt-2 pb-5">
  <h2 class="pt-3 pb-1 m-0">You might like these</h2>
  <p class="pt-1 pb-3 m-0">More places to stay in Miami Beach</p>
  <app-carousel [carousel]="'one'" ></app-carousel>
</section>
<!------section 7------->
<section class="container  pt-2 pb-5">
  <h2 class="pt-3 pb-1 m-0">Cool Plus stays</h2>
  <p class="pt-1 pb-3 m-0">Where Tripadvisor Plus members are staying and saving</p>
  <app-carousel [carousel]="'one'" ></app-carousel>
</section>
<!------section 8------->
<section class="container px-4 pt-2 pb-5">
  <div class="row">
    <h2 class="col-12 pt-3 pb-1 m-0">Home Rentals Near You</h2>
    <div class="col-lg-3 col-12">
      <p class="pt-1 pb-3 m-0">We think you'd enjoy these homes for a quick trip out of town.</p>
    </div>
    <div class="col-lg-9 col-12">
     <app-carousel [carousel]="'two'" ></app-carousel>
    </div>
</div>
</section>
<!------section 9------->
<section class="px-4 pt-2" style="background-color: #FAF1ED;">
  <div class="container pb-3">
    <h2 class="pt-3 pb-3 m-0">More to explore </h2>
    <app-carousel [carousel]="'three'"></app-carousel>
  </div>
</section>
<!------section 10------->
<section class="container px-4  pb-4" style="padding-top:12rem">
  <h2 class="pt-3 pb-3 m-0">Dream Your Next Trip </h2>
  <p class="pt-1 pb-1 m-0 fs-5">Weekend getaways from Cairo</p>
  <p class="p-0 mb-2">Explore what’s nearby</p>
  <app-carousel [carousel]="'four'"></app-carousel>
</section>
<!------section 11------->
<section class="container px-4 pb-4">
  <h2 class="pt-3 pb-3 m-0">Top destinations for beach lovers</h2>
  <p class="pt-1 pb-1 m-0 fs-5">Recommended based on your activity</p>
  <app-carousel [carousel]="'four'"></app-carousel>
</section>
<!------section 12------->
<section class="container px-4 pb-4 section12">
  <div class="row ">
    <div class="col-10 m-auto py-3  position-relative ">
      <div class="section12cardoverlay"></div>
      <div class="section12cardposition col-10">
        <h2>Get more of what you've been missing.</h2>
        <p>Introducing Tripadvisor Plus. Endless travel savings, one simple membership.</p>
        <a style="width: 15%; font-size:2.5vw ; cursor:pointer">Learn More </a>
      </div>
      <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/iti-trip-advisor.appspot.com/o/home%2Fsection12.jpg?alt=media&token=912e327c-eff5-44b6-b6cc-d8ba4c85bc08">
    </div>
  </div>
</section>
