
 <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">

    <button (click)="toglleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="headUl">
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Cairo</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Hotels</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link "aria-current="page" href="#">
                    <p>Things to do</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Resturants</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Flight</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Vacation Rentals</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Review</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Shopping</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Vacation Packges</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Cruises</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <p>Rental Cars</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " aria-current="page" href="#">
                    <h1 style="margin-top:-25px;">...</h1>
                </a>
            </li>

        </ul>

    </div>
</nav>

  