<!-- <div *ngFor="let hotel of hotels , let i =index"> -->
<div>
      <div class="">
          <img Class="rooming" [src]="hotels.image_url" alt="">
          <h4><a [routerLink]="['/hotels-details/',hotels.Id]">{{hotels.name}}</a></h4>
          <!-- <p style="color: blue;">{{hotel.reviewCount}}</p> -->
          <!-- <h5>{{hotel.feature}}</h5> -->
         <p>rate {{hotels.rate}}</p>
          <!-- <h5 class="rate"> rate:{{hotels.rate}}</h5> -->
          <p> payment method :{{hotels.payment_method}}</p>
          <!-- <p>phonenumber:{{hotel.phone_number}}<p> -->
        <span style="font-size: 10px;">price from</span>  <a href="#"> price: {{hotels.price |currency}}</a> <span style="font-size: 10px;">per night</span><br>
          <a href="#"> <i class="fas fa-map-marker-edit"></i>Address: {{hotels?.location?.address?hotels?.location?.address:hotels?.location}}</a> <br>
          <a type="button" class="btn-1 btn-secondary btn-warning btn-lg mt-2" href="flights.html">view
              deal</a>
      </div>
    </div>
  <hr>
  <!-- <div class="row">
      <div>
          <img src="pexels-quark-studio-2507010.jpg" alt="">
          <h3><a href="review.html">vatoto lodge</a></h3>
          <br>
          <p><i>313 reviw
                  #3 best value of 16 places to stay in america samoa
              </i>
          </p>
          <h5>free parking
              free cancellation
              all season
          </h5>
          <a href="#">hotel.com 200$</a>
          <a href="#">tripadvisor.com 314$</a>
          <a type="button" class="btn-1 btn-secondary btn-warning btn-lg mt-2" href="flights.html">view
              deal</a>
      </div>
  </div>
  <hr>
  <div class="row">
      <div>
          <img src="pexels-markus-spiske-26139.jpg" alt="">
          <h3><a href="review.html">movenpic & hwai</a></h3>
          <p><i>100 reveiw
                  #4 best value of 16 places to stay in america samoa
              </i>
          </p>
          <h5>free cancellation
              natural island,
              free parking
          </h5>
          <a href="#">hotel.com 300$</a>
          <a href="#">tripadvisor.com 700$</a>
          <a type="button" class="btn-1 btn-secondary btn-warning btn-lg mt-2" href="flights.html">view
              deal</a>
      </div>
  </div>
  <hr>
  <div class="row">
      <div>
          <img src="pexels-gapeppy-2373201.jpg" alt="">
          <h3><a href="review.html">moano o sina</a></h3>
          <p><i>212 reviw
                  1 best value of 16 places to stay in america samoa
              </i>
          </p>
          <h5>free cancellation
              down town
              free parking
              pool
          </h5>
          <a href="#">hotel.com 700$</a>
          <a href="#">tripadvisor.com 821$</a>
          <a type="button" class="btn-1 btn-secondary btn-warning btn-lg mt-2" href="flights.html">view
              deal</a>
      </div> -->
  <!-- </div> -->
