 <div class=" shadow-2 sticky-top bg-light">
   <div class="container-fluid ">
    <app-header></app-header>
   </div>
 </div>

 <div class="container-fluid light-gray">
   <div class="row">
     <div class="col-sm-4 col-md-4 col-lg-3 pe-lg-3">
       <div class="card">
         <div class="card-body pt-1">
           <app-filter-item *ngFor="let filterItem of filterBy" [filterItemName]="filterItem"></app-filter-item>
         </div>
       </div>
     </div>
     <div class="col-sm-8 col-md-8 col-lg-9">
       <div class="row">
         <app-restaurant-owl-carousel *ngFor="let filter of filterByCommonFeatur" [filterByFeatur]="filter" [restaurantsList]="restaurants"></app-restaurant-owl-carousel>
       </div> 

     </div>
   </div>
   <div class="row">
    <app-footer></app-footer>
   </div>
 </div>
