$starCheckedColor: orange;
$btnOrderOnlineColorYellow: orange;
$imgUrl:url("https://source.unsplash.com/1280x720/?food,food");
// $imgUrl: url("https://mdbootstrap.com/img/new/standard/nature/111.jpg");

.checked {
  color: $starCheckedColor;
}

.btnOrderOnline {
  background-color: $btnOrderOnlineColorYellow;
  color: black;
  border-radius: 15px;
}

.img-fluid {
  content: $imgUrl;
}
.row {
  margin-top: 4vh;
}




.btn-outline-dark {
  border-right: transparent;
  border-color: lightgray;
  border-radius: 5px;
  border-width: 2px;
  height: 35px;
}
// .btn-outline-dark:focus-visible {
//   border-right: transparent;
//   border-color: lightgray;
//   border-radius: 5px;
//   border-width: 2px;
//   height: 35px;
// }
// .btn-outline-dark i {
//   font-size: 0.8rem;
// }
// .inbSearch {
//   border-color: rgb(196, 50, 50);
//   border-radius: 2px;
//   border-width: 2px;
// }

.light-gray{
  background-color: #F2F2F2;
}