<div  class="container">
  <h3>
  There are many places you can visit
</h3>
<p>
  we can guide you to visit and discovered
  country with arrangment propgram to cover all places
</p>
<div class="row">
<div class="col-3" *ngFor="let place of places , let i = index">
  <div  class="card one bg-light f-2">
    <img   [src]="place.img" class="card-img-top" alt="..." >
    <div class="card-body">
      <h5 class=" card-title"><a routerLink="">{{place.title}}</a></h5>
      <p  class="  card-text">{{place.desc}}</p>
      <p class=" card-text"><small class="text-muted">{{place.date}}</small></p>
    </div>
  </div>
</div>
</div>
