h3 {
  font-size: 25px;
  font-family: "Festive", cursive;
  color: #537622;
}
p {
  font-size: medium;
  color: black;
}

h5 {
  font-size: 19px;
}

a {
  text-decoration: none;
  color: #943994;
}

img {
  width: 260px;
}

// /* footer */
// footer {
//   background-color: #faf1ed;
// }

// footer p {
//   color: #5a5151;
// }

// footer a {
//   color: black;
//   font-weight: 520;
// }

// footer a:hover {
//   text-decoration: underline;
//   color: #56645f;
// }

// footer span {
//   color: #5a5151;
// }

// footer ul {
//   list-style: none;
//   padding-left: 0;
// }

// footer ul a {
//   text-decoration: none;
// }
