.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
    line-height: 30px;
  }
  .full {
    color: #00AA6C;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    line-height: 30px;
    color: #00AA6C;
  }
  .ngb-rating-height{
    align-items: center;
    justify-content: center;
    max-height: 20px;
    margin-top: 3px;
  }

  .card-text,.card-title
  {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 1.2em;
    white-space: nowrap;
  }

.btnOrderOnline {
  background-color: orange;
  color: black;
  border-radius: 15px;
  padding-inline: 10px;
  font-size: 13px;
  font-weight: 600;
}


.categ-title{
  font-size: 14px;
}

.restaurant-name{
padding-inline-start: 15px;
color: black;
font-size: 24px;
margin-bottom: 0px;

}

body,
html { overflow-x: hidden; }
.animated-text-container {

  width: 100%;
  font-size: 18px;
}

.animated-text-content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(90%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}
