/* You can add global styles to this file, and also import other style files */
@import "./assets/css/style.scss";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';




// body {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

/* Importing Bootstrap SCSS file. */

// @import "~mdb-angular-ui-kit/assets/scss/mdb.scss";


// MDB SCSS

.carousel-res .owl-prev,
.owl-next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}

.carousel-res .owl-prev {
  left: 0rem;
  color: crimson;
}

.carousel-res .owl-next {
  right: 0rem;
}

.carousel-res .owl-carousel .owl-stage {
  display: flex;
}

.carousel-res .owl-carousel .owl-item img {
  width: 220px;
  height: 130px;
}
